* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
body * {
  font-family: "Roboto";
}

body {
  background-image: linear-gradient(150deg, #0f2b05, #000000);
  height: 100vh;
  text-align: center;
}

header {
  padding: 75px 0;
}

#card1 {
  background-image: url(./assets/bg-blue.svg);
}
#card2 {
  background-image: url(./assets/bg-red.svg);
}
#card3 {
  background-image: url(./assets/bg-purple.svg);
}
#card4 {
  background-image: url(./assets/bg-green.svg);
}

.card {
  display: inline-block;
  width: 354px;
  height: 508px;
  cursor: pointer;
  opacity: 0;
  transform: translateY(-100px);
  animation: appear 0.4s forwards;
  user-select: none;
}

.card > img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #f7dd43;
  margin-top: 115px;
  user-select: none;
}

.info {
  margin-top: 98px;
  color: #fff;
  margin-left: 70px;
  text-align: left;
}

.info h1 {
  font-size: 18px;
  line-height: 140%;
}

.info p {
  font-size: 14px;
}

@keyframes appear {
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
